/* ----------------------------------------------------------------
	Custom CSS

	Add all your Custom Styled CSS here for New Styles or
	Overwriting Default Theme Styles for Better Hanlding Updates
-----------------------------------------------------------------*/


::selection {
    background: #1ABC9C;
    color: #FFF;
    text-shadow: none;
}

